body{
        font-family: 'Baloo Bhai', cursive;
        margin:0px;
        padding: 0px;
        background: url('OIP1.webp');
        color: antiquewhite;
        background-repeat: no-repeat;  
        background-size: cover;         
        background-position: center;    
        background-attachment: fixed; 
    }
    .left{
        position: absolute;
        left: 44px;
        top:0px;
        display: inline-block;
        /*border: 2px solid rgb(255, 123, 0);*/
    }
    .left div{
        text-align: center;
        line-height: 0px;
        font-size: 17px;
    }
    .left img{
        top: 0px;
        width: 90px;
    }
    .center{
        display: block;
        width: 35%;
        margin: 20px auto;
       /* border: 2px solid rgb(205, 205, 205);*/
    }
    .right{
        position: absolute;
        right: 34px;
        top: 20px;
        display: inline-block;
        /*border: 2px solid rgb(94, 255, 0);*/
    }
    .navbar{
        display:inline-block;
    }
    .navbar li{
        display: inline-block;
        font-size: 20px;
    }
    .navbar li a{
        color: aliceblue;
        text-decoration: none;
        padding: 34px 23px;
    }
    .navbar li a:hover , .navbar li a.active{
        color: grey;
        text-decoration: underline;
    }
    .btn{
        font-family: 'Baloo Bhai', cursive;
        margin: 4px 9px;
        background-color: rgba(240, 255, 255, 0);
        color: white;
        padding: 3px 13px;
        /*border: 2px solid grey;*/  
        font-size: 20px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgb(77, 74, 74);
    }
    .container{
        /*border: 2px solid red;*/
        margin: 110px 172px;
        padding: 50px 80px ;
        width: 65%;
        border-radius: 2px;
    }
    .form input{
        font-family: 'Baloo Bhai', cursive;
        text-align: center;
        display: block;
        width: 203px;
        padding: 4px;
        border: 2px solid gold;
        margin: 3px auto ;
        font-size: 15px;
        border-radius: 12px;
    }
    .container h1{
        text-align: center;
        color: white;
        text-decoration: underline;
    }
    .container button{
        display: block;
        width: 203px;
        margin: auto;

    }