body{
    background-color: darkcyan;
}
p{
    background-color: aqua;
}
a{
    background-color: rgb(181, 173, 190);
}
div{
    background-color: rgb(135, 218, 222);
}
span{
    background-color: chartreuse;
}
